/* CSS sheet TO DO */


#header {
    background-color: #1F1F14;
    z-index: 1;
    position: fixed;
    height: 50px;
    width: 95%;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

.left {
    position: relative;
    float: left;
    height: 200px;
    width: 50px;
    border-radius: 10px; 
    background-color: #8F8F8A;
}

.right {
    position: relative;
    float: right; 
    height: 200px;
    width: 50px;
    border-radius: 10px; 
    background-color: #8F8F8A;
}

#footer {
    background-color: #1F1F14;
    height: 50px;
    width: 95%;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    clear: both; 
}


/* text styling goes below */
h2 {
    font-family: Monaco;
    color: white;
    text-align: center;
}

p {
    font-family: Monaco;
    color: green;
    text-align: center;
} 


